.body{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        font-family: 'Albert Sans';
        font-style: normal;
        box-sizing: border-box;
        background-image: linear-gradient(#ffffff 15%, #808080, #525151)
          
}

a {
    color: black;
    text-decoration: none;
}

a:hover.sesion {
    color: black;
}

a:hover {
    color: aliceblue;
}

.vermas{
    font-size: 10px;
}

a:hover.vermas{
    color: #E65D4E;
}

.cabecera {
display: flex;
justify-content: space-between;
align-items: center;
}

.inicio i{
    display: none;
}

.btn{
    display: none;
}

    
.menu {
background-color: #E65D4E;
border: solid #851717 1px;
text-align: center;
font-family: 'Albert Sans';
display: flex;
flex-direction: row;
justify-content: center;
text-transform: uppercase;
}
    
.menu li {
    
list-style-type: none;
font-family: 'Albert Sans', sans-serif;
font-style: normal;
font-size: 20px;
align-items: center;
margin: 8px;
}

.menu li:hover{
    background-color: rgb(187, 9, 9) ;
    transition: .4s;
}
    
.contenido-flex {
display: flex;
flex-direction: column;
align-items: center;   
}
    
.footer {
display: flex;
background-color: rgb(71, 71, 71);
justify-content: center;
text-align: center;
font-size: 20px;
flex-direction: column;
margin-top: auto;
}
    
.footer ul {
display: flex;
flex-direction: row;
justify-content: space-evenly;
list-style-type: none;
font-family: 'Albert Sans', sans-serif;
font-style: normal;
}
    
.imagenes {
    
display: grid;
grid-template-columns: repeat(6, 100px);
grid-auto-rows: auto;
justify-content: center;
justify-items: stretch;
align-items: stretch;
    
}


@media (max-width: 840px){

.cabecera{

flex-direction: column;

}

.menu{
    width: -webkit-fill-available;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inicio i{
    display: inline-flex;
}

.contenido-flex{
    font-size: 15px;
}

.imagenes{
    grid-template-columns: repeat(3, 1fr);
}

.imagenes img{

    width: 100%;

}


.footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(87, 86, 86);
    text-align: center;
    font-size: 20px;
    flex-direction: column;
    margin-top: auto;
}

.footer ul {    
    display:grid ;
    grid-template-columns: repeat(3, 145px);

    justify-content: space-evenly;   
    list-style-type: none;
    font-family: 'Albert Sans', sans-serif;
    font-style: normal;
}

}



    

